.homecategories .container img {
  width: 50%;
  object-fit: cover;
}
.homecategories .container .content {
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

figure.categories {
  text-align: center;
}

.homecategories .content {
  display: flex;
  flex-direction: column;
}
.homecategories .container .content h1 {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.homecategories .container .content p {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0px;
}

.homecategories .container:nth-child(1) {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.homecategories .container:nth-child(2) {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
}

.homecategories .container:nth-child(3) {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.homecategories .container:nth-child(4) {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.category-label {
  text-decoration: none;
  color: #0f0e0e;
}
.category-label:hover {
  text-decoration: none;
  color: #0f0e0e;
}

/* .category-name {
  margin-left: 2rem;
  text-decoration: none;
  color: #0f0e0e;
} */
/* .category-names {
  margin-left: 2.5rem;
  text-decoration: none;
  color: #0f0e0e;
  margin-top: -3rem;
} */
/* .category-name_kids {
  margin-left: 2.5rem;
  text-decoration: none;
  color: #0f0e0e;
} */

.clothing-tag {
  margin-top: -1rem;
}
/* .hover08 figure img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.hover08 figure:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
} */
