nav {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: orange;
  margin-bottom: 1rem;
}

nav svg {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  visibility: hidden;
}

.brand-title {
  font-family: "Archivo Black", sans-serif;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}
.brand-title:hover {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.svg-img {
  margin-right: -5rem;
}

/* .svg-menu {
  margin-left: -2rem;
} */

nav svg:hover {
  color: orangered;
}

.cartIcon {
  width: 35px;
  height: 35px;
}

nav .s1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: orange;
}

nav img {
  width: 150px;
}

nav .searchbar {
  display: flex;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  padding: 5px;
  justify-content: space-between;
  width: 50%;
  background-color: white;
  border-radius: 26px;
}

.filter-black {
  filter: invert(0%) sepia(99%) saturate(0%) hue-rotate(238deg) brightness(98%)
    contrast(101%);
}

nav .searchbar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  padding-left: 10px;
}

nav .searchbar svg {
  color: rgb(8, 8, 8);
}

nav .searchbar svg:hover {
  background-color: rgb(9, 9, 9);
  color: white;
  border-radius: 50%;
  padding: 5px;
}

nav .searchbar button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

nav .s1 .right {
  display: flex;
  justify-content: space-between;
  /* gap: 10px; */
  align-items: center;
}

.title {
  font-weight: 900;
  font-size: 2rem;
}

.dropdowns {
  margin-right: -4rem;
}

nav .cart {
  position: relative;
  margin: 0px 20px;
}

nav .cart .qty {
  background-color: orange;
  color: white;
  border-radius: 50%;
  /* padding: 1px; */
  position: absolute;
  width: 25px;
  height: 25px;
  top: -15px;
  right: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

nav .s2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5%;
  margin-right: 6rem;
  background-color: orange;
  margin-top: 1rem;
}

nav .s2 a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

nav .s2 a:hover {
  color: orangered;
}

nav .s3 {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  }

  nav .s1 {
    display: none;
  }

  nav .s2 {
    display: none;
  }

  nav .s3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    padding: 0px;
    width: 100%;
  }

  nav .s31 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px 0px;
  }

  nav .searchbar {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
  }
  nav .s3 ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  nav .s3 ul li {
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: orangered;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
  nav .s3 .s32 svg {
    color: white;
  }

  nav #dropdown-basic {
    color: white;
  }
}
